@import '../abstract/variaveis'; 

footer{
    background-color: #111;
    color: $cor-secundaria;
    .footer-info{
        margin: 0 5rem;
        padding: 2rem 0;
        justify-content: center;
        @include xs{
            display: grid;
            grid-template-rows: repeat(4, auto);
        }; 
        @include xl{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows:auto ;
        };
        a{
            color: $cor-secundaria;
            margin: 5px;
            text-decoration: none;
            &:hover{
                color: $cor-primaria;
            }
        }
        .footer-h1{
            font-size: 20px;
            margin: 1rem 5px;
            color: $cor-primaria;
        }
        .footer-info-col1{
            width: 300px;
        }
        .footer-info-col2{
            .opicoes{
                display: flex;
                flex-direction: column;
            }
        }
        .footer-info-col3{
            .opicoes{
                display: flex;
                flex-direction: column;
            }
        }
        .footer-info-col4{
            @include xs{
                margin: 3rem 0;
            }
            @include xl{
                margin: 0;
            }
            .footer-col4-redes{
                margin: 3rem 0;
                a{
                    color: $cor-secundaria;
                    margin: 5px;
                    @include xs{
                        font-size: 23px;
                    }
                    &:hover{
                        color: $cor-primaria;
                    }
                }
            }
    
            .footer-col4-pagamentos{
                width: 100%;
                .footer-info-pagamentos{
                    display: flex;
                    flex-wrap:wrap;
                    div{
                        background-color: #fff;
                        width: 50px;
                        margin: 3px;
                        padding: 6px;
                        display: flex;
                        justify-content: center;
                        border-radius: 2px;
                        @include xs{
                            width: 76px;
                        }
                        @include xl{
                            width: 50px;
                        }
                    }
                }
            }
        }

        
    }

    hr{
        width: 90%;
        outline: none;
        background-color: $cor-secundaria;
        height: 1px;
        @include xs{
            width: 70%;
        }
        @include xl{
            width: 90%;
        }
    }

    .footer-info-pt2{
        
        justify-content: space-between;       
        padding: 2rem 0;
        @include xs{
            padding: 0 1rem; 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0;
        }
        @include xl{
            display: flex;
            flex-direction: row;
            margin: 0 5rem;

        }

        
        
        .footer-info-termos{
            a{
                color: $cor-secundaria;
                margin: 10px;
                text-decoration: none;       
                &:hover{
                    color: $cor-primaria;
                }
                @include xs{
                    font-size: 10px;
                }
                @include xl{
                    font-size: 15px;
                }
            }

        }

        .footer-info-termos-pt2{
            width: 50%;

            p{
                // text-align: end;
                @include xs{
                    font-size: 10px;
                    padding: 1rem 0;
                    text-align: center;
                }
                @include xl{
                    font-size: 15px;
                    padding: 2rem 0;
                    text-align: end;
                }
            }
           
        }
    }
}


