@import '../abstract/variaveis'; 

main{
    
    .conteudo-promocoes{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        .conteudo-promocoes-banner1{
            width: 90%;
            &:hover{
                cursor: pointer;
            }
        }   

        .conteudo-promocoes-display{
            display: flex;
            .conteudo-colecoes-banner{
                height: 80vh;
                padding: 0 .85rem;
                cursor: pointer;
                // margin: 0 2em;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .informacoes-promocoes{
            margin: 2rem 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            h2{
                font-size: 50px;
                font-weight: bolder;
            }
            p{
                margin: 1rem 0;
                font-weight: 800;
            }
            button{
                color: $cor-primaria;
                background-color: $cor-terciaria;
                width: auto;
                font-weight: 900;
                outline: none;
                padding: 10px;
                border-radius: 60px;
                cursor: pointer;
            }
        }

        .cards-carrousel{
            display: flex;
            .swiper{
                width: 1400px;
            }
            .btn-carrousel{
                background-color: black;
                height: 40px;
                width: 40px;
                border-radius: 50px;
                font-size: 25px;
                padding: 5px;
                color: $cor-primaria;
               
            }

            .swiper-button-next{
                &::after{
                    display: none;
                }
            }
            .swiper-button-prev{
                &::after{
                    display: none;
                }
            }
        }
        .card{
            display: grid;
            width: 20vw;
            grid-template-rows: auto 100px;
            .card-img{
                grid-area: "card-img";
                .img{
                    max-width: 100%;
                    cursor: pointer;
                }
            }
            .card-conteudo{
                grid-area: "card-conteudo";
                margin: 1rem 0;
                .card-conteudo-titulo{
                    font-weight: 600;
                    font-size: 20px;
                }
                .card-conteudo-preco{
                    padding: 10px 0;
                    font-weight: 500;
                }
            }
        }
    }


    .conteudo-promocoes-titulos{
        font-size: 35px;
        font-weight: 500;
        margin: 2rem 5rem;
    }
}
