header, body {
  font-family: "Roboto", sans-serif;
}

header {
  background: #f7f7f7;
  grid-area: header;
  display: flex;
}
header .header-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}
header .header-inner .header-logos {
  width: auto;
}
header .header-inner .header-logos #jumperman {
  width: 25px;
}
header .header-inner .header-logos #snkrs {
  width: 60px;
}
header .header-inner .header-logos img {
  margin-left: 2rem;
}
header .header-inner .header-options {
  width: auto;
  margin: 0 3rem 0 0;
}
header .header-inner .header-options ul {
  display: flex;
}
header .header-inner .header-options ul li {
  margin: 0 2px 0 0;
  font-size: 16px;
}
header .header-inner .header-options ul li a {
  text-decoration: none;
  color: #a3998f;
}
header .header-inner .header-options ul li a:hover {
  color: #000;
}
header .header-inner .header-options ul li:nth-child(2)::before {
  content: "|";
  padding: 1em;
}
header .header-inner .header-options ul li:nth-child(2)::after {
  content: "|";
  padding: 1em;
}

nav .nav-inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0;
  margin: 0 20px 0 0;
}
nav .nav-inner .nav-log {
  padding: 0 4rem;
}
nav .nav-inner .nav-log img {
  height: 30px;
}
nav .nav-inner .nav-options {
  justify-content: center;
  display: flex;
  margin: 2rem 0;
}
nav .nav-inner .nav-options .nav-option {
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  font-weight: 400;
  font-size: 20px;
}
nav .nav-inner .nav-options .nav-option:hover {
  cursor: pointer;
  border-bottom: 2px solid #000;
}
nav .nav-inner .nav-barraPesquisa {
  background-color: #f7f7f7;
  display: flex;
  border-radius: 200px;
}
nav .nav-inner .nav-barraPesquisa .nav-search {
  display: flex;
  flex-direction: row-reverse;
}
nav .nav-inner .nav-barraPesquisa .nav-search .nav-search-barra {
  border-radius: 200px;
  width: 170px;
  height: 50px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
nav .nav-inner .nav-barraPesquisa .nav-search .nav-seach-icon {
  border-radius: 200px;
  height: 50px;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
}
nav .nav-inner .nav-barraPesquisa .nav-search .nav-seach-icon:hover {
  background-color: black;
}
nav .nav-inner .nav-barraPesquisa .nav-search .nav-seach-icon i {
  padding: 10px;
}
nav .nav-inner .nav-sacolinha button {
  border: none;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 2rem;
}
nav .nav-inner .nav-sacolinha button:hover {
  background-color: #f7f7f7;
}
nav .nav-inner .nav-sacolinha button i {
  padding: 10px;
  font-size: 30px;
}
nav .nav-optionsInner {
  width: 100%;
}
nav .nav-optionsInner #tab-option1-content, nav .nav-optionsInner #tab-option2-content, nav .nav-optionsInner #tab-option3-content, nav .nav-optionsInner #tab-option4-content, nav .nav-optionsInner #tab-option5-content, nav .nav-optionsInner #tab-option6-content {
  display: none;
}
nav .nav-optionsInner .show {
  display: flex !important;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: left;
  height: 50vh;
}
nav .nav-optionsInner ul {
  margin: 2rem 5rem;
}
nav .nav-optionsInner ul .tituloLista {
  color: #000;
  font-size: 25px;
  margin-bottom: 2rem;
}
nav .nav-optionsInner ul li {
  color: #a3998f;
  line-height: 2rem;
  cursor: pointer;
  transition: 1ms;
}
nav .nav-optionsInner ul li:hover {
  transition: 1s;
  color: #000;
}

.carrinho-lateral {
  width: 35vw;
  position: absolute;
  height: 100vh;
  background-color: #f7f7f7;
  z-index: 1;
  right: 0;
  display: none;
}
.carrinho-lateral .carrinho--leteral--header {
  width: 100%;
  height: 8%;
  background-color: rgb(0, 0, 0);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.carrinho-lateral .carrinho--leteral--header .carrinho--lateral--titulo {
  font-size: 25px;
  padding: 0 3em;
  text-align: center;
}
.carrinho-lateral .carrinho--leteral--header button {
  border-radius: 50px;
  background-color: black;
}
.carrinho-lateral .carrinho--leteral--header button:hover {
  cursor: pointer;
  background-color: #a3998f;
}
.carrinho-lateral .carrinho--leteral--header button i {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.carrinho-lateral .carrinho--lateral--conteudo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 5rem;
}
.carrinho-lateral .carrinho--lateral--conteudo #carrinho--lateral-conteudo--PMain {
  font-size: 45px;
  text-transform: uppercase;
  margin: 1rem 0;
}
.carrinho-lateral .carrinho--lateral--conteudo #carrinho--lateral-conteudo--PDescription {
  margin: 1rem 0;
  color: #a3998f;
  text-align: center;
  padding: 0 2rem;
  line-height: 1.5;
}
.carrinho-lateral .carrinho--lateral--conteudo #carrinho--lateral--conteudo--btn {
  border-radius: 40px;
  border: none;
  padding: 2rem 6rem;
  font-weight: bold;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.carrrinho-lateral--ativo {
  display: block !important;
}/*# sourceMappingURL=style.css.map */